
body
{
	font-family: "Monaco", "Andale Mono", "Courier", "Courier New";
	background-image: url("bg.jpg");
	background-color: #ddd;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 1.0em;
}

h1
{
	text-shadow: 1px 1px 30px #000;
	margin-top: 0px;
	color:  #eee;
	font-size: 3em;
	text-transform: uppercase;
	margin-bottom: 0px;
}
h2
{
	text-shadow: 1px 1px 10px #000;
	
	color: #DDD;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 1.1em;
}

h3
{
    margin-top: 33px;
    font-size: 1.1em;
}

#ajaxloader_wrapper
{
    text-align: center;
}

#css_resources
{
    white-space: pre-wrap;
    font-size: 12px;
}
#css_resources td
{
    font-size: 10px;
    padding: 2px;
}

#css_resources span, #status_message span
{
    font-weight: bold;
    font-size: 11px;
}

#css_resources strong, #status_message strong
{
    background-color: green;
    color: white;
    padding: 3px;
    font-style: normal;
}

#css_resources u, #status_message u
{
    background-color: rgb(200,121,0);
    color: white;
    padding: 3px;
    font-style: normal;
    text-decoration: none;
}

#css_resources em, #status_message em
{
    background-color: #a00;
    color: white;
    padding: 3px;
    font-style: normal;
}



header
{
	padding-top: 12px;
	background-color: #00394d;
	border-bottom: 3px solid #a00;
	height: 170px;
	margin-bottom: -70px;
	-webkit-box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
	
}

.indexbox
{
    border: 1px solid #ccc;
    float: right; 
    width: 200px; 
    background-color: #eee; 
    font-size: 0.9em; 
    padding: 15px; 
    margin-left: 25px;
}

nav
{
	font-size: 0.9em;
	
	margin: 0 auto;
	display: block;
}

nav ul
{
	padding: 0px;
	margin: 0 auto;
	width: 744px;
	height: 30px;
	clear: both;
	background-color: transparent;
}

.litem
{
	border-top: 3px solid #b00;
	border-right: 3px solid #b00;
	border-left: 3px solid #a00;
	-webkit-border-top-left-radius: 7px; 
	-webkit-border-top-right-radius: 7px; 
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	text-shadow: 1px 1px 0px #000;
	color: #efeff1;
	font-weight: bold;
	padding-top: 6px;
	height: 24px;
	display: block;
	float: left;
	width: 180px;
	background-color: #a00;
	cursor: pointer;
}

.litem a
{
	color: #efeff1;
	font-weight: bold;
	text-decoration: none;
}

li
{
    margin-top: 10px;
}

a
{
    color: #a00;
}

article
{
	text-align: justify;
	min-height: 450px;
	margin: 0 auto;
	width: 678px;
	padding: 30px;
	font-size: 0.8em;
	padding-bottom: 30px;
	background-color: white;
	border-left: 3px solid #a00;
	border-right: 3px solid #a00;
	border-bottom: 3px solid #a00;
	-webkit-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.5);
}

#selected
{		
	background-color: white;
	font-weight: bold;
	color: black;
	background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
}
#selected a 
{
    color: #b00; 
    text-shadow: none;
}

.lowmargin
{
    margin-top: 10px;
    padding: 0;
}

footer
{
	font-size: 11px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	padding: 7px;
	color:  #ddd;
	border-top: 3px solid #a00;
	background-color: #00394d;
	-webkit-box-shadow: 0px -1px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 1px #000;
}

footer a
{
    color: #ddd;
}

.page
{
	display: none;
}

hr
{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 0px;
    border: 1px solid #a00;
}

#droparea
{
	text-align: center;
	width: 100%;
	height: 400px;
	border: 3px dotted gray;
	font-size: 54px;
}

#dataurldisplay
{
	border: 3px dotted gray;
	width: 100%;
	height: 380px;
	display: none;
	padding-bottom: 10px;
}

#css_stats_wrapper
{
    width: 100%;
    padding-bottom: 10px;
}

#css_stats_wrapper p
{
    margin: 0;
}

#css_stats
{
    float: left;
    width: 320px;
}

#css_stats p
{
    margin: 3px;
    font-size: 13px;
}

#css_stats strong
{
    background-color: green;
    color: white;
    padding: 3px;
}

#css_stats em
{
    background-color: #a00;
    color: white;
    padding: 3px;
    font-style: normal;
    font-weight: bold;
}

#dataurldisplay p
{
	font-size: 14px;
}

#dataurltextarea
{
	-webkit-border-radius: 7px; 
	-moz-border-radius: 7px;
	border-radius: 7px;
	border: 2px solid gray;
	width: 300px;
	height: 240px;
	padding: 4px;
}

#dataurltextwrap
{
	margin-left: 10px;
	text-align: center;
	width: 330px;
	float: left;
}

pre
{
    white-space: pre-wrap;       /* css-3 */
     white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
     white-space: -pre-wrap;      /* Opera 4-6 */
     white-space: -o-pre-wrap;    /* Opera 7 */
     word-wrap: break-word;       /* Internet Explorer 5.5+ */
     background-color: #fafafa;
     border: 1px solid gray;
     padding: 20px;
 	font-size: 11px;
     
}

#postframe
{
    display: none; 
    width: 0px; 
    height: 0px;
    visibility: hidden;
}

.small
{
    font-size: 12px;
}

#dataurlimgview
{
	width: 310px;
	height: 300px;
	margin-left: 10px;
	float: left;
	text-align: center;
}
#dataurlimgview img
{
	max-width: 100%;
	max-height: 100%;
}

#css_downloadlink a
{
    float: right;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

#cssurl
{
	width: 350px;
	font-family: "Monaco", "Andale Mono", "Courier", "Courier New";
}

#css_output_container
{
    display: none;
}

blockquote
{
    white-space: pre-wrap;
}